:root {
  --primary:hsl(144.78deg 100% 14.53%);
  --secondary:#f0f0f0;
}

body {
  font-family: Helvetica;
  color:var(--primary);
  background: var(--secondary);
  font-size: 2rem;
}

a {
  color: var(--primary)
}

p {
  max-width: 30em;
}
